<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Hakkımızda</h2>
           
        </div>
    </div>
</main><!-- End Breadcrumbs -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                
                <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>Smart Memory Akademi</h3>
                    <p class="fst-italic">
                        Firmamız 5 yılı aşkın tecrübesiyle faaliyetlerine devam etmektedir. Yola çıktığımız ilk günden beri heyecanımız ve kararlılığımız, siz değerli müşterilerimizle devam etmektedir. Faaliyet alanlarımız; 100'ün üstende devlet üniversitesi, 73 vakıf üniversitesi olmak üzere toplamda 200'e yakın üniversite, devlet kurum ve kuruluşları, hastaneler, polis okulları, çevik kuvvet, özel harekat birimleri, tüm güvenlik güçleri, 5 yıldızlı oteller ve özel işletmelerdir.

                        Firma yönetim kurulu olarak 2018 yılında aldığımız müşterek bir kararla, ülkemizde büyük bir problem haline gelen İngilizce öğrenme problemini ortadan kaldırmak için yola koyulduk. Klasik İngilizce öğrenme metodunu kökten değiştirerek farklı bir metodla ilk adımı attık.

                        Online İngilizce Öğrenme Programı, yeni doğmuş bir çocuğun ana dilini öğrenme alışkanlıklarını taklit ederek öğretme temeli üzerine hazırlanmıştır. Herhangi bir şeyi öğrenmenin en kolay ve kesin yolu doğal öğrenme yollarıdır.

                        Eğitim Sistemimiz, klasik öğrenme metodlarına (kitap, cd ve deftere) ihtiyaç duymayacağınız, kendinizdeki ilerlemeyi günden güne fark edebileceğiniz, eğlenerek öğreneceğiniz bir programdır. Biz yeni bir dili öğrenmeniz için her şeyi düşündük.

                        Yapmanız gereken tek şey önce kendinize inanmak...
                    </p>
                    

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    

</main>