z
<main id="main" >
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in" >
        <div class="container">
            <h2>İletişim</h2>
            
        </div>
    </div><!-- End Breadcrumbs -->
    </main>
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div data-aos="fade-up" >
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3123.851497632905!2d27.215980876546887!3d38.467989571818926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b97d2039000001%3A0x288c5058b4b4d41f!2sErgene%2C%20538.%20Sk.%20No%3A48%20D%3A604%2C%2035040%20Bornova%2F%C4%B0zmir!5e0!3m2!1str!2str!4v1687618538918!5m2!1str!2str" width=100%; height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="container" data-aos="fade-up">

            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>KONUM:</h4>
                            <p>Ergene mh.538 sk. No:48 daire:604
                            Bornova/İZMİR
                            TÜRKİYE </p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>info@smartmemoryakademi.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>TELEFON</h4>
                            <p>+0 555 893 0351</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                   

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

