@model Education.Data.TemplateSetting

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TemplateSetting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BannerText" class="control-label"></label>
                <input asp-for="BannerText" class="form-control" />
                <span asp-validation-for="BannerText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card1" class="control-label"></label>
                <input asp-for="Card1" class="form-control" />
                <span asp-validation-for="Card1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card2" class="control-label"></label>
                <input asp-for="Card2" class="form-control" />
                <span asp-validation-for="Card2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card3" class="control-label"></label>
                <input asp-for="Card3" class="form-control" />
                <span asp-validation-for="Card3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card4" class="control-label"></label>
                <input asp-for="Card4" class="form-control" />
                <span asp-validation-for="Card4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
