<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>Advanced</h2>
        <h5 style="color:grey">Bölümündesiniz @User.FindFirst("Name").Value </h5>
    </div>
</div><!-- End Breadcrumbs -->
<section id="cource-details-tabs" class="cource-details-tabs">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders61.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders62.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders63.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders64.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-5">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders65.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-6">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders66.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-7">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders67.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-8">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders68.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-9">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders69.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-10">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders70.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-11">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders71.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-12">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders72.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-13">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders73.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-14">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders74.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-15">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders75.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-16">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders76.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-17">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders77.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-18">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye5_ders78.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                   


                </div>
            </div>
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Seviye 5 Ders 61</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Seviye 5 Ders 62</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Seviye 5 Ders 63</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Seviye 5 Ders 64</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Seviye 5 Ders 65</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Seviye 5 Ders 66</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-7">Seviye 5 Ders 67</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-8">Seviye 5 Ders 68</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-9">Seviye 5 Ders 69</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-10">Seviye 5 Ders 70</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-11">Seviye 5 Ders 71</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-12">Seviye 5 Ders 72</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-13">Seviye 5 Ders 73</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-14">Seviye 5 Ders 74</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-15">Seviye 5 Ders 75</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-16">Seviye 5 Ders 76</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-17">Seviye 5 Ders 77</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-18">Seviye 5 Ders 78</a>
                    </li>
                    
                </ul>
            </div>

        </div>

    </div>
</section><!-- End Cource Details Tabs Section -->
<script>
    document.addEventListener('contextmenu', function (e) {
        e.preventDefault();
    });
    document.addEventListener('DOMContentLoaded', function () {
        var videos = document.querySelectorAll('video');

        videos.forEach(function (video) {
            video.addEventListener('play', function (event) {
                pauseOtherVideos(event.target);
            });
        });

        document.addEventListener('click', function () {
            pauseAllVideos();
        });

        function pauseOtherVideos(currentVideo) {
            videos.forEach(function (video) {
                if (video !== currentVideo) {
                    video.pause();
                }
            });
        }

        function pauseAllVideos() {
            videos.forEach(function (video) {
                video.pause();
            });
        }
    });
</script>