<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>Dünyadan Gazeteler </h2>
    </div>
</div><!-- End Breadcrumbs -->
<section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

    
        <div class="card border-0">
            <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">

                  <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="course-item">
                        <a href="https://www.independent.co.uk/" target="_blank">
                            <img src="~/mentor/assets/img/gazete/independent.png" class="img-fluid" alt="...">
                        </a>
                        <div class="course-content">


                            <h3 class="text-center"><a>Independent</a></h3>

                        </div>
                    </div>
                </div>&nbsp<!-- End Course Item-->
                <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 ">
                    <div class="course-item">
                        <a href="https://www.nytimes.com/international/" target="_blank">
                            <img src="~/mentor/assets/img/gazete/nyt.png" class="img-fluid" alt="...">
                        </a>
                        <div class="course-content">
                            <h3 class="text-center"><a>New York Times</a></h3>

                        </div>
                    </div>
                </div>&nbsp <!-- End Course Item-->
                <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 ">
                    <div class="course-item">
                        <a href="https://www.washingtonpost.com/"target="_blank">
                            <img src="~/mentor/assets/img/gazete/wp.png"  class="img-fluid" alt="...">
                        </a>
                        <div class="course-content">
                            <div>&nbsp</div>
                            <h3 class="text-center"><a>Washington</a></h3>

                        </div>
                    </div>
                </div> <!-- End Course Item-->
                <div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
                <div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
                <div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>

                <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="course-item">
                        <a href="https://abcnews.go.com/" target="_blank">
                            <img src="~/mentor/assets/img/gazete/news.png" class="img-fluid" alt="...">
                        </a>
                        <div class="course-content text-align-center">


                            <h3 class="text-center"><a>ABC News</a></h3>

                        </div>
                    </div>
                </div> &nbsp<!-- End Course Item-->
                <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="course-item">
                        <a href="https://www.nbcnews.com/" target="_blank">
                            <img src="~/mentor/assets/img/gazete/nbc.png"  class="img-fluid" alt="...">
                        </a>
                        <div class="course-content">


                            <h3 class="text-center"><a>NBC News</a></h3>

                        </div>
                    </div>
                </div> &nbsp
                <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" >
                    <div class="course-item">
                        <a href="https://news.google.com/topstories" target="_blank">
                            <img src="~/mentor/assets/img/gazete/google.png" class="img-fluid" alt="...">
                        </a>
                        <div class="course-content">

                            <div>&nbsp</div> <div>&nbsp</div>
                            <h3 class="text-center"><a>Google News</a></h3>

                        </div>
                    </div>
                </div>&nbsp
   
                <div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
                <div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
                <div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
                <div class="col-lg-2 col-md-6 d-flex align-items-stretchs justify-content-center" ">
                    <div class="course-item">
                        <a href="https://edition.cnn.com/" target="_blank">
                            <img src="~/mentor/assets/img/gazete/cnn.png" class="img-fluid" alt="...">
                        </a>
                        <div class="course-content">
                            <div>&nbsp</div>

                            <h3 class="text-center"><a>CNN</a></h3>


                        </div>
                    </div>
                </div>&nbsp <!-- End Course Item-->
                <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 justify-content-center" ">
                    <div class="course-item">
                        <a href="https://cyprus-mail.com/" target="_blank">
                            <img src="~/mentor/assets/img/gazete/cmnew.png" class="img-fluid" alt="...">
                        </a>
                        <div class="course-content">


                            <h3 class="text-center"><a>Cyprus Mail</a></h3>

                        </div>
                    </div>
                </div>&nbsp
                <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 justify-content-center" ">
                    <div class="course-item">
                        <a href="https://www.theatlantic.com/world/"target="_blank">
                            <img src="~/mentor/assets/img/gazete/atln.png" class="img-fluid" alt="...">
                        </a>
                        <div class="course-content">


                            <h3 class="text-center"><a>The Atlantic</a></h3>

                        </div>
                    </div>
                </div>
               <!-- End Course Item-->
            </div>
        </div>
    </div>
</section><!-- End Popular Courses Section -->