<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>Elemantary </h2>
        <h5 style="color:grey">Bölümündesiniz @User.FindFirst("Name").Value </h5>
    </div>
</div><!-- End Breadcrumbs -->
<section id="cource-details-tabs" class="cource-details-tabs">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye2_ders10.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye2_ders14.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye2_ders15.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye2_ders16.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-5">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye2_ders17.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-6">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye2_ders18.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-7">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye2_ders20.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-8">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye2_ders21.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-9">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye2_ders22.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                      <div class="tab-pane" id="tab-10">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye2_ders23.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div> 
                    <div class="tab-pane" id="tab-11">
                        <div class="row">
                            <div class="col-lg-10 order-2 order-lg-1">
                                <div class="ratio ratio-16x9">
                                    <video class="w-100" controls="controls" controlsList="nodownload">
                                        <source src="~/videos/seviye2_ders24.mp4" type="video/mp4" />
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Seviye 2 Ders 10</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Seviye 2 Ders 14</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Seviye 2 Ders 15</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Seviye 2 Ders 16</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Seviye 2 Ders 17</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Seviye 2 Ders 18</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-7">Seviye 2 Ders 20</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-8">Seviye 2 Ders 21</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-9">Seviye 2 Ders 22</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-10">Seviye 2 Ders 23</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-11">Seviye 2 Ders 24</a>
                    </li>

                </ul>
            </div>
            
        </div>

    </div>
</section><!-- End Cource Details Tabs Section -->
<script>
    document.addEventListener('contextmenu', function (e) {
        e.preventDefault();
    });
    document.addEventListener('DOMContentLoaded', function () {
        var videos = document.querySelectorAll('video');

        videos.forEach(function (video) {
            video.addEventListener('play', function (event) {
                pauseOtherVideos(event.target);
            });
        });

        document.addEventListener('click', function () {
            pauseAllVideos();
        });

        function pauseOtherVideos(currentVideo) {
            videos.forEach(function (video) {
                if (video !== currentVideo) {
                    video.pause();
                }
            });
        }

        function pauseAllVideos() {
            videos.forEach(function (video) {
                video.pause();
            });
        }
    });
</script>