<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>Tekrardan Hoşgeldiniz<br>@User.FindFirst("Name").Value </h2>



    </div>
</div><!-- End Breadcrumbs -->
<section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>İÇERİKLER</h2>
            <p>EĞİTİMLER</p>
        </div>
        <div class="card border-0">
            <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">

                <div class="col-lg-2 col-md-6 d-flex align-items-stretchs ">
                    <div class="course-item">
                        <a asp-controller="StudentDashboard" asp-action="Video">
                            <img src="~/mentor/assets/img/video.png" class="img-fluid" alt="...">
                        </a>
                        <div class="course-content">


                            <h3 class="text-center"><a>Video Dersler</a></h3>


                        </div>
                    </div>
                </div>&nbsp <!-- End Course Item-->
                <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 ">
                    <div class="course-item">
                        <a asp-controller="StudentDashboard" asp-action="SleepEdu">
                            <img src="~/mentor/assets/img/uykudaingilizce.png" class="img-fluid" alt="...">
                        </a>
                        <div class="course-content">
                            <h3 class="text-center"><a>Uykuda İngilizce</a></h3>

                        </div>
                    </div>
                </div>&nbsp <!-- End Course Item-->
                <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 ">
                    <div class="course-item">
                        <a asp-controller="StudentDashboard" asp-action="Meditations">
                            <img src="~/mentor/assets/img/meditasyon.png" class="img-fluid" alt="...">
                        </a>
                        <div class="course-content">


                            <h3 class="text-center"><a>Meditasyon</a></h3>

                        </div>
                    </div>
                </div> <!-- End Course Item-->
                <div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
                <div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
                <div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
               
                <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="course-item">
                        <a asp-controller="StudentDashboard" asp-action="Read">
                            <img src="~/mentor/assets/img/okumaparcalari.png" class="img-fluid" alt="...">
                        </a>
                        <div class="course-content">


                            <h3 class="text-center"><a>Okuma Parçaları</a></h3>

                        </div>
                    </div>
                </div> &nbsp<!-- End Course Item-->
                <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="course-item">
                        <a href="https://translate.google.com/?hl=tr&tab=TT" target="_blank">
                            <img src="~/mentor/assets/img/ceviri.png" class="img-fluid" alt="...">
                        </a>
                        <div class="course-content">


                            <h3 class="text-center"><a>İngilizce-Türkçe<br>Çeviri</a></h3>

                        </div>
                    </div>
                </div> &nbsp<!-- End Course Item-->
                <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="course-item">
                        <a asp-controller="StudentDashboard" asp-action="Earth"><img src="~/mentor/assets/img/dunyadangazeteler.png" class="img-fluid" alt="..."></a>
                        <div class="course-content">


                            <h3 class="text-center"><a>Dünyadan Gazeteler</a></h3>

                        </div>
                    </div>
                </div> <!-- End Course Item-->
            </div>
        </div>
    </div>
</section><!-- End Popular Courses Section -->