<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>Uykuda Öğrenme </h2>
    </div>
</div><!-- End Breadcrumbs -->

<section id="courses" class="courses">
    <div class="container" data-aos="fade-up">
        <div class="card border-0">
            <div class="row" data-aos="zoom-in" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                        <img src="~/mentor/assets/img/uykudaingilizce1.jpg" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">

                                <audio controls="controls" controlsList="nodownload">
                                    <source src="~/voice/uykuing1.mp3" type="audio/mpeg" />
                                </audio>
                            </div>


                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                   

                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                    <i class="bx bx-user"></i>258

                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                        <img src="~/mentor/assets/img/uykudaingilizce2.jpg" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">

                                <audio controls="controls" controlsList="nodownload">
                                    <source src="~/voice/uykuing2.mp3" type="audio/mpeg" />
                                </audio>
                            </div>


                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                 

                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                    <i class="bx bx-user"></i>147

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                        <img src="~/mentor/assets/img/uykudaingilizce3.jpg" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">

                                <audio controls="controls" controlsList="nodownload">
                                    <source src="~/voice/uykuing3.mp3" type="audio/mpeg" />
                                </audio>
                            </div>


                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                  

                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                    <i class="bx bx-user"></i>957

                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->


                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                        <img src="~/mentor/assets/img/uykudaingilizce4.jpg" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">

                                <audio controls="controls" controlsList="nodownload">
                                    <source src="~/voice/uykuing4.mp3" type="audio/mpeg" />
                                </audio>
                            </div>


                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                   

                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                    <i class="bx bx-user"></i>541

                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->



            </div>
        </div>
    </div>
</section>

<script>
   
</script>
