 <!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>Sean and The Birthday Cake</h2>
    </div>
</div><!-- End Breadcrumbs -->
<!-- ======= Cource Details Section ======= -->
<section id="course-details" class="course-details">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-8">
                <img src="~/mentor/assets/img/happy-birthday-sean_936659ef31.jpg" class="img-fluid" alt="">
                <h3>Sean and The Birthday Cake</h3>
                <p>
                    Sean likes food. He likes fruit and vegetables. He likes bread and cakes. He likes fish and dairy products. He likes meat. He eats everything!

                    One day he goes to a party. It is a birthday party for his friend Leo. He enjoys the party with his friends. They dance and have fun.

                    At the end of the night, Leo’s mother comes with a cake. Everyone is very happy. They like sweet cakes. Sean is also happy. He likes food!

                    Leo’s mother slices the cake and gives every kid a piece of cake. Sean is the first one that gets a piece. At first, he is very happy, but after a few moments, he turns blue. He runs outside.

                    When he returns, everybody is very surprised. His friend Leo asks, “Sean, is everything alright? You don’t behave like yourself!”

                    Sean is surprised. “Why, Leo? Why do you say that?”

                    “Well,” Leo answers, “you usually love food very much! You don’t run away from food!”

                    Sean smiles and says, “Yes, Leo, I love food. But that cake is not food!”
                </p>
                <h3>Sean ve Doğum günü Pastası</h3>
                <p>
                    Sean yemek yemeyi sever. Meyve ve sebzeleri sever. Ekmek ve kekleri sever. Balık ve süt ürünlerini sever. Et sever. Her şeyi yemeyi sever!

                    Bir gün bir partiye gider. Arkadaşı Leo için bir doğum günü partisidir. Arkadaşlarıyla birlikte partinin tadını çıkarır. Dans ederler ve çok eğlenirler.

                    Gecenin sonunda, Leo’nun annesi pasta ile gelir. Herkes çok mutludur. Şekerli pastayı severler. Sean de mutludur. Yemek yemeyi sever!

                    Leo’nun annesi pastayı dilimler ve her çocuğa bir dilim pasta verir. Sean dilimi alan ilk kişidir. Başta mutludur ama birkaç dakika sonra mavi renge döner. Dışarı koşar.

                    Geri döndüğünde herkes şaşkındır. Arkadaşı Leo sorar, “Sean, her şey yolunda mı? Kendin gibi davranmıyorsun!”

                    Sean şaşırmıştır. “Niçin, Leo? Neden bunu söylüyorsun?”

                    “Eh,” diye Leo cevap verir, “Sen genelde yemek yemeyi çok seversin! Yemeklerden kaçmazsın!”

                    Sean güler ve der ki, “Evet, Leo, Yemek yemeyi severim. Fakat pasta, yemek değil!”
                </p>
            </div>
            <div class="col-lg-4">

                <div class="course-info d-flex justify-content-between align-items-center">
                    <h5>Metin Adı</h5>
                    <p><a href="#">Sean and The Birthday Cake</a></p>
                </div>

                <div class="course-info d-flex justify-content-between align-items-center">
                    <h5>Dil</h5>
                    <p>İngilizce - Türkçe</p>
                </div>


            </div>
        </div>

    </div>
</section><!-- End Cource Details Section -->
