k <!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>
            Kate’s Drums
        </h2>

    </div>
</div><!-- End Breadcrumbs -->
<!-- ======= Cource Details Section ======= -->
<section id="course-details" class="course-details">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-8">
                <img src="~/mentor/assets/img/ks.jpg" class="img-fluid" alt="">
                <h3>Kate’s Drums</h3>
                <p>
                    Kate has a new set of drums. She likes playing the drums. She practices playing the drums all the time.

                    Her parents tell her, “Kate, we are happy that you like the drums, but you can’t play the drums all the time. There are other people on the floor, in the building and neighbourhood. There are other people in the neighborhood. And they all want to sleep sometimes!

                    Kate listens to them. She says she understands, but she doesn’t stop doing it. She practices playing the drums all the time!

                    Her parents complain, her sister complains, the neighbors complain. Even the cat complains!

                    “Ok, ok!” Kate says, “I will be a good girl. I will do it more quietly.”

                    But this doesn’t help much. No one can work, no one can rest, and no one can sleep.

                    One day Kate comes home and sees her parents and her sister in the living room. She sees new things: a guitar, a trumpet, and a piano. Kate is very surprised! “Wow!” she says, “What is this?”

                    “Well,” her father answers, “we see that we can’t beat you, so we decide to join you!”
                </p>
                <h3>Kate’in Baterisi</h3>
                <p>
                    Kate’in yeni bir bateri seti vardır. Bateri çalmayı sever. Her zaman bateri çalma pratiği yapar.

                    Ailesi ona, “Kate, bateri sevdiğin için mutluyuz fakat her zaman bateri çalamazsın. Dairede başka insanlar var. Binada başka insanlar var. Mahallede başka insanlar var. Ve hepsi ara sıra uyumak ister!”

                    Kate onları dinler. Anladığını söyler fakat bunu yapmayı bırakmaz. Her zaman bateri çalma pratiği yapar!

                    Ailesi şikâyet eder, kız kardeşi şikayet eder, komşular şikayet eder. Kedi bile şikayet eder!

                    “Tamam, tamam!” der Kate, “Uslu bir kız olacağım. Bunu daha sessiz yapacağım.”

                    Ama bu da pek işe yaramaz. Hiç kimse çalışamaz, hiç kimse dinlenemez ve hiç kimse uyuyamaz.

                    Bir gün Kate eve gelir ve ailesini ve kız kardeşini oturma odasında görür. Yeni şeyler görür: gitar, trompet ve piyano. Kate çok şaşırır! “Vay!” der, “Bu nedir?”

                    “Peki” diye cevap verir babası, “Gördük ki seninle baş edemeyeceğiz, o yüzden sana katılmaya karar verdik!”
                </p>
            </div>
            <div class="col-lg-4">

                <div class="course-info d-flex justify-content-between align-items-center">
                    <h5>Metin Adı</h5>
                    <p><a href="#">Kate’in Baterisi</a></p>
                </div>

                <div class="course-info d-flex justify-content-between align-items-center">
                    <h5>Dil</h5>
                    <p>İngilizce - Türkçe</p>
                </div>


            </div>
        </div>

    </div>
</section><!-- End Cource Details Section -->
