 <!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>
            The Four Smart Students
        </h2>

    </div>
</div><!-- End Breadcrumbs -->
<!-- ======= Cource Details Section ======= -->
<section id="course-details" class="course-details">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-8">
                <img src="~/mentor/assets/img/sssents.jpg" class="img-fluid" alt="">
                <h3>The Four Smart Students</h3>
                <p>
                    One night four college students were out partying late night and didn’t study for the test which was scheduled for the next day. In the morning, they thought of a plan.

                    They made themselves look dirty with grease and dirt.

                    Then they went to the Dean and said they had gone out to a wedding last night and on their way back the tire of their car burst and they had to push the car all the way back. So they were in no condition to take the test.

                    The Dean thought for a minute and said they can have the re-test after 3 days. They thanked him and said they will be ready by that time.

                    On the third day, they appeared before the Dean. The Dean said that as this was a Special Condition Test, all four were required to sit in separate classrooms for the test. They all agreed as they had prepared well in the last 3 days.
                </p>
                <h3>Akıllı Dört Öğrenci</h3>
                <p>
                    Bir gece, dört üniversite öğrencisi gece geç saatlerde parti veriyorlardı ve ertesi gün yapılması planlanan sınava çalışmadılar. Sabah bir plan düşündüler.

                    Yağ ve kirle kendilerini kirli gösteriyorlardı.

                    Sonra dekana gittiler ve dün gece bir düğüne gittiklerini ve geri dönerken arabalarının lastiğinin patladığını ve arabayı sonuna kadar itmek zorunda kaldıklarını söylediler. Yani sınava girecek durumda değillerdi.

                    Dekan bir dakika düşündü ve 3 gün sonra tekrar test yapabileceklerini söyledi. Teşekkür ettiler ve o zamana kadar hazır olacaklarını söylediler.

                    Üçüncü gün dekanın huzuruna çıktılar. Dekan, bunun bir Özel Durum Testi olduğu için, dördünün de test için ayrı sınıflarda oturması gerektiğini söyledi. Son 3 günde iyi hazırlandıkları için hepsi hemfikirdi.
                </p>
            </div>
            <div class="col-lg-4">

                <div class="course-info d-flex justify-content-between align-items-center">
                    <h5>Metin Adı</h5>
                    <p><a href="#">The Four Smart Students</a></p>
                </div>

                <div class="course-info d-flex justify-content-between align-items-center">
                    <h5>Dil</h5>
                    <p>İngilizce - Türkçe</p>
                </div>


            </div>
        </div>

    </div>
</section><!-- End Cource Details Section -->
