<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>Video Dersler </h2>
    </div>
</div><!-- End Breadcrumbs -->
<section id="courses" class="courses">
    <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="course-item">
                   <a asp-controller="StudentDashboard" asp-action="Begginer">   <img src="~/mentor/assets/img/beginner.jpg" class="img-fluid" alt="..."></a>
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <a asp-controller="StudentDashboard" asp-action="Begginer"><h4>Beginner</h4></a>

                        </div>

                       
                        <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                               
                               
                            </div>
                            <div class="trainer-rank d-flex align-items-center">
                                <i class="bx bx-user"></i>&nbsp;4850
                                &nbsp;&nbsp;
                                <i class="bx bx-video"></i>&nbsp;9
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="course-item">
               <a asp-controller="StudentDashboard" asp-action="Elementary"><img src="~/mentor/assets/img/elementary.jpg" class="img-fluid" alt="..."></a>
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <a asp-controller="StudentDashboard" asp-action="Elementary"><h4>Elementary</h4></a>

                        </div>


                        <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                             

                            </div>
                            <div class="trainer-rank d-flex align-items-center">
                                <i class="bx bx-user"></i>&nbsp;2746
                                &nbsp;&nbsp;
                                <i class="bx bx-video"></i>&nbsp;11
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="course-item">
                    <a asp-controller="StudentDashboard" asp-action="Intermediate"><img src="~/mentor/assets/img/intermediate.jpg" class="img-fluid" alt="..."></a>
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <a asp-controller="StudentDashboard" asp-action="Intermediate"><h4>Intermediate</h4></a>

                        </div>


                        <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                               

                            </div>
                            <div class="trainer-rank d-flex align-items-center">
                                <i class="bx bx-user"></i>&nbsp;7493
                                &nbsp;&nbsp;
                                <i class="bx bx-video"></i>&nbsp;15
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Course Item-->
            <div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="course-item">
                   <a asp-controller="StudentDashboard" asp-action="Uppermediate"> <img src="~/mentor/assets/img/upper-intermediate.jpg" class="img-fluid" alt="..."></a>
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <a asp-controller="StudentDashboard" asp-action="Uppermediate"><h4>Upper Intermediate</h4></a>

                        </div>


                        <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                            

                            </div>
                            <div class="trainer-rank d-flex align-items-center">
                                <i class="bx bx-user"></i>&nbsp;6980
                                &nbsp;&nbsp;
                                <i class="bx bx-video"></i>&nbsp;20
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="course-item">
                   <a asp-controller="StudentDashboard" asp-action="Advanced"> <img src="~/mentor/assets/img/advanced.jpg" class="img-fluid" alt="..."></a>
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <a asp-controller="StudentDashboard" asp-action="Advanced"><h4>Advanced</h4></a>

                        </div>


                        <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                               

                            </div>
                            <div class="trainer-rank d-flex align-items-center">
                                <i class="bx bx-user"></i>&nbsp;5174
                                &nbsp;&nbsp;
                                <i class="bx bx-video"></i>&nbsp;18
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="course-item">
                    <a asp-controller="StudentDashboard" asp-action="Mastery"> <img src="~/mentor/assets/img/mastery.jpg" class="img-fluid" alt="..."></a>
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <a asp-controller="StudentDashboard" asp-action="Mastery"><h4>Mastery</h4></a>

                        </div>


                        <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                                

                            </div>
                            <div class="trainer-rank d-flex align-items-center">
                                <i class="bx bx-user"></i>&nbsp;8741
                                &nbsp;&nbsp;
                                <i class="bx bx-video"></i>&nbsp;9
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Course Item-->

        </div>

    </div>
</section>
